/* COMIENZO A ESTILAR EL HEADER */
/* ///////////////////////////////////////////////////////////////////////////////////////// */



.logo {
    height: 100px;
    width: 100px;
    border-radius: 50%;

}

.btn btn-outline-success {
    background-color: brown;
}
.nav-item-login {
    color: black;
    font-weight: 900;
    /* background-color: rgb(194, 150, 150); */
}

.nav-item:hover {
    transform: 0.7;
    background-color: #b69090;
    border-bottom: solid black 2px;
    
}
.nav-item:focus-visible {
    transition: 0.8s;
    

}

.offcanvas-body {
    background-color: darkgrey;
    
}
.offcanvas {
    background-color: #7e7a7a;
    
}

.navbar {
    width: 100%;
}









/* COMIENZO A ESTILAR EL BODY */

/* ///////////////////////////////////////////////////////////////////////////////////// */


.carouselExampleSlidesOnly {
    width: 100%;
    height: 50%;
}

.vermas .texto {
    font-size: 50px;
    font-weight: bold;
    color: white;
    position: relative;
    bottom: -20%;

}

.contenidogral1 {
    width: 100%;
    height: 300px;
}

.carusel {
    vertical-align: middle;
    width: 100%;
    height: 700px;
}


.textopresentacion {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darksalmon;
    padding: 8px 8px;
    font-weight: 700;

}

.boton {
    background-color: darksalmon;
    border-radius: 10px;
    width: 150px;
    height: 30px;
    color: black;
    font-weight: 900;
}

h1 {
    display: none;
}

.contenidogral1 br {
    background-color: darksalmon;
}

.presentacion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    background-color: rgb(53, 15, 2);
    

}

.tarjeta1 {
    background-color: rgb(153, 109, 109);
    padding: 8px 8px;
    border: black solid 2px;
    width: 300px;
    height: 550px;
}

.tarjeta2 {
    background-color: rgb(153, 109, 109);
    padding: 8px 8px;
    border: black solid 2px;
    width: 300px;
    height: 550px;
}


.tarjeta3 {
    background-color: rgb(153, 109, 109);
    padding: 8px 8px;
    border: black solid 2px;
    width: 300px;
    height: 550px;
}

.presentacion img {
    width: 200px;
    height: 200px;
}

.presentacion {
    padding: 30px 12px;
}

.contenidogral1 {
    background-image: url(/imagenes/Picada_cordobesa.jpg);
    width: 100%;
}




/* ////////////////////////////////////////////////////////////////////////////////// */


/* COMIENZO A ESTILAR EL FOOTER */
/* /////////////////////////////////////////////////////////////////////////////////// */


.footer-all {
    background-color: rgb(125, 125, 131);
    width: 100%;
}

.footerarriba {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(31, 24, 24);
    height: 300px;

}

.footer1 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 8px 8px;
    justify-content: space-between;

}

.formulario {
    background-color: brown;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 700px;
    height: 200px;
}

.formulario h3 {
    font-size: 16px;
    color: white;
    font-weight: 800;
}

.informacionformulario {
    width: 600px;

}

.informacionformulario label input {
    width: 500px;
    box-shadow: 20px;
}

.redessociales {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;



}

.redessociales img {
    width: 30px;
    border-radius: 50px;

}

.redessociales label {
    color: white;
    font-weight: 800;
}




.footerabajo {
    background-color: rgb(44, 43, 43);
    height: 50px;
    
}

.footer2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.copyright {
    font-weight: 500;
    color: black;
}

.informacion {
    font-weight: 500;
    color: black;
    text-decoration: none;
}

.informacion a {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.facebook {
    justify-content: space-around;
}

.instagramtexto label :hover {
    color: white;
}

.instagramtexto {
    text-decoration: none;

}

.facebooktexto {
    text-decoration: none;
}

.whatsapptexto {
    text-decoration: none;
}
.facebook img {
    justify-content: center;
}


/* COMIENZO RESPONSIVE */
/* /////////////////////////////////////////////////////////////////////////////// */

@media screen and (max-width: 1100px) {

    .logo {
        height: 120px;
        width: 120px
    }

    .presentacion {
        flex-direction: column;
    }

    .tarjeta1,
    .tarjeta2,
    .tarjeta3 {
        width: 500px;
        height: 800px;
    }
    .presentacion img {
        width: 400px;
        height: 400px;
    }

    .h3,
    h3 {
        font-size: 40px;
    }

    p {
        font-size: 25px;
    }

    .boton {
        font-size: 30px;
        width: 200px;
        height: 50px;
    }

    .footerarriba {
        flex-direction: column;
        height: 500px;
    }

    .formulario h3 {
        font-size: 25px;
    }

    .boton_enviar {
        font-size: 24px;
    }

    .redessociales {
        height: 110px;
        width: 530px;
        display: flex;
        flex-direction: initial;
        justify-content: center;
        font-size: 20px;
    }

    .informacion {
        font-size: 20px;
    }

    .footer2 {
        flex-direction: column;
    }

    .offcanvas-body {
        font-size: 20px;
    }
}

@media screen and (max-width: 992px) {

    .tarjeta1,
    .tarjeta2,
    .tarjeta3 {
        width: 500px;
        height: 800px;
    }

    .presentacion img {
        width: 400px;
        height: 400px;
    }

    .h3,
    h3 {
        font-size: 40px;
    }

    p {
        font-size: 25px;
    }

    .boton {
        font-size: 30px;
        width: 200px;
        height: 50px;
    }

    .footerarriba {
        flex-direction: column;
        height: 500px;
    }

    .formulario h3 {
        font-size: 25px;
    }

    .boton_enviar {
        font-size: 24px;
    }

    .redessociales {
        height: 110px;
        width: 530px;
        display: flex;
        flex-direction: initial;
        justify-content: center;
        font-size: 20px;
    }

    .informacion {
        font-size: 20px;
    }

    .footer2 {
        flex-direction: column;
    }

    .offcanvas-body {
        font-size: 20px;
    }

}


@media screen and (max-width: 710px) {
    .offcanvas-body {
        font-size: 24px;
        margin-right: 20px;
    }

    header {
        width: 720px;
    }

    body {
        width: 720px;
    }

    footer {
        width: 720px;
    }

    .navbar-light .navbar-toggler {
        margin-right: 50px;
    }

    .offcanvas-header {
        margin-right: 30px;
    }

    .tarjeta1,
    .tarjeta2,
    .tarjeta3 {
        width: 450px;
        height: 750px;
    }

    .presentacion img {
        width: 300px;
        height: 300px;
    }

    .boton {
        font-size: 24px;
        width: 182px;
        height: 40px;
    }

}

@media screen and (max-width: 650px) {
    .navbar {
        width: 720px;
    }

    header {
        width: 720px;
    }

    body {
        width: 720px;
    }

    footer {
        width: 720px;
    }
}

@media screen and (max-width: 576px) {
    .navbar {
        width: 700px;
    }

    header {
        width: 700px;
    }

    body {
        width: 700px;
    }

    footer {
        width: 700px;
    }
}

@media screen and (max-width: 411px) {
    .navbar {
        width: 700px;
    }

    header {
        width: 700px;
    }

    body {
        width: 700px;
    }

    footer {
        width: 700px;
    }
}

@media screen and (max-width: 375px) {
    .navbar {
        width: 690px;
    }

    header {
        width: 690px;
    }

    body {
        width: 690px;
    }

    footer {
        width: 690px;
    }
}